
@import url("cirru-color/assets/cirru.css");

@font-face {
  font-family: Federo;
  src: url('./Federo-Regular.ttf');
}

.tile {
  background-image: url('./calcit-tile.png');
  background-size: 163px 395px;
}

.md-block .md-p {
  font-size: 16px;
  margin: 24px 0px;
  line-height: 25px;
}

/* override style */
div.md-block div[data-comp="comp-snippet"] {
  margin-top: 16px;
}
